.some-text {
    font-family: "Open Sans";
    font-size: 20px;
    line-height: 30px;
    font-style: italic;
}

.text {
    text-decoration: line-through;
    color: #0a0a0a;
    font-weight: 700;
}

.text3{
    text-transform: uppercase;
    text-align: center
    
}

.text4{
    word-spacing: 30px;
    text-decoration: overline;
    text-decoration-style: wavy;
    text-decoration-color: red
    text-shadow: 1px 1px 1px #f536d5;
}


.text5{
    letter-spacing: 5px;
    text-decoration: underline double; 
    
}

.text6{
    text-shadow: 1px 1px 1px #f536d5;
    
}