body {
  background: black;
}



.text {
  font-family: "Open Sans";
  font-weight: 500;
  color: white;
  
}

.rectangle__quad {
  position: fixed;
  border-radius: 5px;
  background: white;
  width: 550px;
  min-height: 100px;
  /* top: auto; */
  bottom: 100px;
  left: 50%;
  right: 50px;
}

.rectangle__child-quad{
  position: absolute;
  background: red;
  border-radius: 50px;
  width: 100px;
  height: 100px;
  left: 15%;
  bottom: 50%;
}